<div class='container'>
<h1>Cycling video jukebox:</h1>

<table class='pure-table pure-table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @files.each do |file_path, metadata| %>
    <tr>
      <td><%= metadata[:display_name] %></td>
      <td><% if metadata[:display_name].match?(/(\.mp4|\.mkv)/) %><a href="/watch/<%= metadata[:param] %>">watch</a><% end %></td>
      <td><a href="<%= file_path %>">dl</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>
<h2>In progress downloads</h2>
<% if @downloads %>
  <table  class='pure-table pure-table-bordered'>
    <thead>
      <tr>
        <th>Name</th>
        <th>% complete</th>
        <th>ETA</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @downloads.each do |dl| %>
        <tr>
          <td><%= dl[:name] %></td>
          <td><%= dl[:percentage] %></td>
          <td><%= dl[:eta] %></td>
          <td><%= dl[:status] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No downloads. SAD!</p>
<% end %>


<hr>
</div>
